<!--Component shown in dialogue when adding a rating-->
<template>
  <q-stepper flat bordered v-model="step" ref="stepper" animated header-nav>
    <q-step v-for="(value,rating_class,index) in rating_classes" :key="'c'+index" :name="index" :title="rating_class">
      <div v-for="(rating,index) in value" :key="'r'+index">
        <div class="row justify-center">
          {{ rating.replace('_', '') }}
          <q-slider
            style="padding-bottom: 5px"
            :model-value="newRating[rating]"
            :min="-1"
            :max="7" marker-labels
            show-value
            color="accent"
            track-color="orange-1"
            :thickness="0.20"
            @change="sliderChanged($event,rating)"
          >
            <template v-slot:marker-label-group="{ markerList }">
              <div
                v-for="val in 8"
                class="cursor-pointer"
                :key="val"
                :class="markerList[val].classes"
                :style="markerList[val].style"
                @click="newRating[rating] = val-1"
              >{{ val - 1 }}
              </div>

              <q-icon
                v-for="val in [0]"
                :key="val"
                :class="markerList[val].classes"
                :style="markerList[val].style"
                size="sm"
                color="orange"
                name="close"
                @click="newRating[rating] = val-1"
              />
            </template>
          </q-slider>
        </div>
        <q-separator/>
      </div>
    </q-step>
  </q-stepper>
  <p/>
  <div class="row justify-end">
    <q-btn style="margin-right: 10px" color="accent" @click="saveRating">Save</q-btn>
    <q-btn @click="ratingStore.resetNewRating()">Clear</q-btn>
  </div>
</template>

<script setup lang="ts">
import {Rating, rating_classes} from 'stores/interfaces';
import {computed, Ref, ref, defineEmits} from 'vue';
import {useRatingStore} from 'stores/RatingStore';

const ratingStore = useRatingStore()

const step = ref(0)

const emit = defineEmits(['saveRating'])

// gets empty Rating from ratingStore
const newRating: Ref<Rating> = computed(() => {
  return ratingStore.getNewRating
})

//called when slider is dragged to save new value
function sliderChanged(value: string, rating: string) {
  newRating.value[rating] = value
}

function saveRating() {
  emit('saveRating', newRating)
  ratingStore.resetNewRating()
}

</script>

<style scoped>

</style>
