<!--Component used for editing Weight Matrices on the Attribute Preset Page-->
<template>
  <q-stepper v-model="step" ref="stepper" animated header-nav>
    <q-step v-for="(value,rating_class,index) in rating_classes" :key="'c'+index" :name="index" :title="rating_class">
      <div class="text-h6 text-center">
        {{ rating_class }}
      </div>
      <div class="q-pa-md row items-start justify-center q-gutter-sm text-center">
        <div v-for="(rating,index) in value" :key="'r'+index">
          <div class="row justify-center" style="padding: 2px">
            <field_matrix_edit :field-matrix="attributeMatrices.find((preset)=>preset.name === rating)?.array"
                               height="30" :number="false" :value_range="1"
                               @matrixChanged="matrixChanged($event,rating)"></field_matrix_edit>
          </div>
          <div class="row justify-center">
            {{ rating.replace('_', ' ') }}
          </div>
        </div>
      </div>
    </q-step>
  </q-stepper>
  <div class="row justify-end">
    <q-btn style="margin-right: 10px" color="accent" @click="savePreset">Save</q-btn>
  </div>
</template>

<script setup lang="ts">
import {ref, defineProps, defineEmits, Ref} from 'vue';
import Field_matrix_edit from 'components/field_matrix_edit.vue';
import {rating_classes, WeightMatrix} from 'stores/interfaces';

const props = defineProps(['matrices'])

const emit = defineEmits(['savePreset'])

const attributeMatrices: Ref<WeightMatrix[]> = ref(props.matrices)

const step = ref(0)

/**
 * called when field_matrix_edit component detects change
 * saves change in attributeMatrices
 */
function matrixChanged(matrix: number[][], rating: string) {
  const index = attributeMatrices.value.findIndex(preset => preset.name === rating)
  if (index > -1) {
    attributeMatrices.value[index].array = matrix
  } else {
    attributeMatrices.value.push({name: rating, array: matrix})
  }
}

function savePreset() {
  emit('savePreset', attributeMatrices.value)
}

</script>

<style scoped>

</style>
