<!--Component used for editing Weight Matrices on the Position Preset Page-->
<template>
  <div class="q-pa-md row items-start justify-center q-gutter-sm text-center">
    <div v-for="(position,index) in positions" :key="'r'+index">
      <div class="row justify-center" style="padding: 2px">
        <field_matrix :field-matrix="positionMatrices.find((preset)=>preset.name === position)?.array"
                      height="30" :number="false" :value_range="1"
                      @matrixChanged="matrixChanged($event,position)"></field_matrix>
      </div>
      <div class="row justify-center">
        {{ position.replace('_', ' ') }}
      </div>
    </div>
  </div>
  <div class="row justify-end">
    <q-btn style="margin-right: 10px" color="accent" @click="savePreset">Save</q-btn>
  </div>
</template>

<script setup lang="ts">
import {ref, defineProps, defineEmits, Ref} from 'vue';
import Field_matrix from 'components/field_matrix_edit.vue';
import {positions, WeightMatrix} from 'stores/interfaces';

const props = defineProps(['matrices'])

const emit = defineEmits(['savePreset'])

const positionMatrices: Ref<WeightMatrix[]> = ref(props.matrices)

/**
 * called when field_matrix_edit component detects change
 * saves change in attributeMatrices
 */
function matrixChanged(matrix: number[][], position: string) {
  const index = positionMatrices.value.findIndex((preset) => preset.name === position)
  if (index > -1) {
    positionMatrices.value[index].array = matrix
  } else {
    positionMatrices.value.push({name: position, array: matrix})
  }
}

function savePreset() {
  emit('savePreset', positionMatrices.value)
}

</script>

<style scoped>

</style>
