<!--Component used for editing player details on the PlayerPage-->
<template>
  <q-form class="q-gutter-md" @submit="savePlayer">
    <div class="row justify-center">
      <div class="col-auto">
        <q-input v-model="player.first_name" label="First Name" dense
                 :rules="[val=>val!=null && val !== ''|| 'first name is missing']"/>
        <q-input v-model="player.date_of_birth" label="Birthday" dense
                 :rules="[val=>val!=null && val !== ''|| 'birthday is missing']">
          <template v-slot:append>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                <q-date v-model="player.date_of_birth" mask="YYYY-MM-DD">
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Close" color="primary" flat/>
                  </div>
                </q-date>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
        <q-input v-model="player.height" type="number" label="Height" dense
                 :rules="[val=>val!=null && val !== '' && val !== 0|| 'height is missing']">
          <template v-slot:append>
            cm
          </template>
        </q-input>
        <q-input v-model="player.tricot_number" type="number" label="Tricot Number" dense
                 :rules="[val=>val!=null && val !== ''&& val !== 0|| 'tricot number is missing']"/>
      </div>
      <q-space/>
      <div class="col-auto" style="padding-left: 20px">
        <q-input v-model="player.last_name" label="Last Name" dense
                 :rules="[val=>val!=null && val !== ''|| 'last name is missing']"/>
        <q-select v-model="player.sex" label="Sex" dense :options="['female','male','divers']"
                  :rules="[val=>val!=null && val !== ''|| 'sex is missing']"/>
        <q-input v-model="player.weight" type="number" label="Weight" dense
                 :rules="[val=>val!=null && val !== ''&& val !== 0|| 'weight is missing']">
          <template v-slot:append>
            g
          </template>
        </q-input>
      </div>
    </div>

    <q-btn type="submit">Save Player</q-btn>

  </q-form>
</template>

<script setup lang="ts">
import {ref} from 'vue';
import {defineEmits} from 'vue'

const emit = defineEmits(['savePlayer'])

const props = defineProps(['player'])

const player = ref(props.player)

function savePlayer() {
  emit('savePlayer', player)
}
</script>

<style scoped>

</style>
