<!--Component used to visualize a single Weigh Matrix-->
<template>
  <div class="wrapper" :style="'width: '+0.625*props.height+'vh'+'; height:'+ props.height+'vh'">
    <div class="box" :style="'background-color:'+percentageToHsl(i,0,120)"
         v-for="(i,index) in props.fieldMatrix?.flat(1)" :key="index">
      <div v-if="props.number" style="color: black">
        {{ i.toFixed(1) }}
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">

/**
 * @prop {number[][]} fieldMatrix - Matrix of scores
 * @prop {number} height - Height of the field
 * @prop {boolean} height - Shows numbers on field when true
 * @prop {number} value_range - max value of scores to be displayed (used for c)
 */
const props = defineProps(['fieldMatrix','height','number','value_range'])

/**
 * maps score to color from red to green
 */
function percentageToHsl(percentage: number, hue0: number, hue1: number) {
  if (percentage > -1){
    percentage = Math.min(percentage, props.value_range)
  let hue = (percentage/props.value_range * (hue1 - hue0)) + hue0;
  return 'hsl(' + hue + ', 80%, 70%)';
  }else{
    return 'hsl(' + 0 + ', 80%, 100%)';
  }
}
</script>

<style scoped lang="sass">

.wrapper
  display: grid
  padding: 6% 2%
  grid-template-rows: repeat(4, auto)
  grid-template-columns: 20.5% 16% 26.5% 16% 20.5%
  background-image: url("../assets/field_transparent.png")
  background-size: contain

.box
  background-color: rgba(255, 255, 255, 0.1)
  color: hsl(0, 80%, 100%)
  opacity: 0.5
  border-style: solid
  border-width: thin
  border-color: rgba(255, 255, 255, 0.7)
  display: flex
  justify-content: center
  align-items: center


</style>
