<!--Component used for editing a single Weight Matrix-->
<template>
  <div class="wrapper" :style="'width: '+0.625*props.height+'vh'+'; height:'+ props.height+'vh'"
       v-if="matrix!==undefined">
    <div class="box" :style="'background-color:'+percentageToHsl(matrix[i[0]][i[1]],0,120)" @click="boxClicked(i)"
         v-for="i in indices" :key="i">
    </div>
  </div>
</template>

<script setup lang="ts">

import {defineEmits, Ref, ref} from 'vue';

/**
 * @prop {number[][]} fieldMatrix - Matrix of scores
 * @prop {number} height - Height of the field
 * @prop {boolean} height - Shows numbers on field when true
 * @prop {number} value_range - max value of scores to be displayed (used for c)
 */
const props = defineProps(['fieldMatrix', 'height', 'number', 'value_range'])

const emit = defineEmits(['matrixChanged'])

const matrix: Ref<number[][]> = ref(props.fieldMatrix)

const indices = []
for (let i = 0; i < 4; i++) {
  for (let j = 0; j < 5; j++) {
    indices.push([i, j])
  }
}

/**
 * maps score to color from red to green
 */
function percentageToHsl(percentage: number, hue0: number, hue1: number) {
  if (percentage > -1) {
    let hue = (percentage / props.value_range * (hue1 - hue0)) + hue0;
    return 'hsl(' + hue + ', 80%, 70%)';
  } else {
    return 'hsl(' + 0 + ', 80%, 100%)';
  }
}

function boxClicked(index: number[]) {
  matrix.value[index[0]][index[1]] = (matrix.value[index[0]][index[1]] === -1) ? 1 : -1
  emit('matrixChanged', matrix.value)
}

</script>

<style scoped lang="sass">

.wrapper
  display: grid
  padding: 6% 2%
  grid-template-rows: repeat(4, auto)
  grid-template-columns: 20.5% 16% 26.5% 16% 20.5%
  background-image: url("../assets/field_transparent.png")
  background-size: contain

.box
  background-color: rgba(255, 255, 255, 0.1)
  color: hsl(0, 80%, 100%)
  opacity: 0.5
  border-style: solid
  border-width: thin
  border-color: rgba(255, 255, 255, 0.7)
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center

.box:hover
  filter: brightness(85%)


</style>
