<!--Component used to display football field with chosen formation on Start11Page-->
<template>
  <q-page>
    <div class="field" ref="field">
      <div v-if="field!==null">
        <div v-for="i in positions" class="position items-center text-center"
             :key="i.id" :style="'left: '+(field.clientWidth * i.x) + 'px; ' +
                'top: '+((field.clientHeight-25) * i.y) + 'px;'">
          <q-chip size="sm" color="accent" square>{{ getPlayer(i.id).tricot_number }}</q-chip>
          <br>
          <span class="text-accent">{{ getPlayer(i.id).last_name }}</span>
        </div>
      </div>
      <img src="../assets/field.png" style="width: 100%" alt=""/>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import {computed, defineProps, ref} from 'vue';
import {Positions, Formations, Player} from 'stores/interfaces';

/**
 * @prop {string} formation - formation name to be displayed
 * @prop {{ player_id: number, position_id: number }[]} chosenPlayers
 * @prop {Player[]} players - all possible player
 */
const props = defineProps(['formation', 'chosenPlayers', 'players'])

const field = ref(null)

const positions = computed(() => {
  let pos = Formations[props.formation]
  let positions = []
  pos = (pos !== undefined) ? pos : []
  for (let i = 0; i < pos.length; i++) {
    positions.push(Positions.find((formation) => formation.id === pos[i]))
  }
  if (positions.length !== 0) {
    // add Goal Keeper
    positions.push(Positions[0])
  }
  return positions
})

/**
 * @param id position id
 * @returns player which is calculated for the position id
 */
function getPlayer(id: number) {
  const player_id = props.chosenPlayers?.find((player: { player_id: number, position_id: number }) => player.position_id === id).player_id
  let player = {first_name: 'Hans', last_name: 'Hansemann', tricot_number: '22'}
  if (Object.keys(props.players).length === 0) {
    return player
  } else {
    player = props.players?.find((player: Player) => player.id === player_id)
    return player
  }
}

</script>

<style scoped lang="sass">

.field
  position: relative
  max-width: 48vh

.position
  position: absolute
  transform: translate(-50%, 0)
  width: 100px

</style>
