<!--Page to display all Players-->
<template>
<!--Header-->
  <q-header elevated class="bg-black text-white">
    <q-toolbar>
      <q-breadcrumbs active-color="accent">
        <q-breadcrumbs-el to="/">
          <span class="text-weight-light"> ODD-T</span>
        </q-breadcrumbs-el>
        <q-breadcrumbs-el class="text-accent" label="Players" icon="person"/>
      </q-breadcrumbs>
    </q-toolbar>
  </q-header>
<!--Dialogs-->
  <q-dialog v-model="add_dialog" persistent>
    <q-card>
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Add Player</div>
        <q-space/>
        <q-btn icon="close" flat round dense v-close-popup/>
      </q-card-section>
      <q-card-section>
        <edit_player_details :player="addPlayerModel" @savePlayer="addPlayer"></edit_player_details>
      </q-card-section>
    </q-card>
  </q-dialog>
<!--Page-->
  <q-page padding class="row items-center justify-center">
    <q-table
      grid
      grid-header
      dense
      :rows="selectedPropertiesPlayers"
      :columns="columns"
      row-key="name"
      :filter="filter"
      hide-header
      hide-pagination
      :rows-per-page-options="[0]"
    >
      <template v-slot:top-left>
        <q-btn flat dense icon="person_add" @click="openAddDialog()"/>
      </template>
      <template v-slot:top-right>
        <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
          <template v-slot:append>
            <q-icon name="search"/>
          </template>
        </q-input>
      </template>
      <template v-slot:item="props">
        <div class="player-card">
          <q-card @click="$router.push('/player/'+props.row.id)" class="cursor-pointer q-hoverable">
            <q-card-section class="text-center">
              <q-avatar color="accent" text-color="white" size="100px" icon="person"></q-avatar>
              <br>
              <br>
              <strong>{{ props.row.first_name }} {{ props.row.last_name }}</strong>
              <br>
              <q-chip size="m" color="accent" square>{{
                  props.row.tricot_number < 10 ? '0' : ''
                }}{{ props.row.tricot_number }}
              </q-chip>
            </q-card-section>
            <q-separator/>
          </q-card>
        </div>
      </template>
    </q-table>
  </q-page>
</template>

<script lang="ts" setup>
import {usePlayerStore} from 'stores/PlayerStore';
import {computed, onMounted, Ref, ref} from 'vue';
import {Player} from 'stores/interfaces';
import {storeToRefs} from 'pinia';
import Edit_player_details from 'components/edit_player_details.vue';

const playerStore = usePlayerStore();

const columns = [
  {name: 'first_name', align: 'left', label: 'First Name', field: 'first_name', sortable: true},
  {name: 'last_name', align: 'left', label: 'Last Name', field: 'last_name', sortable: true},
  {name: 'tricot_number', align: 'left', label: '#', field: 'tricot_number', sortable: true},
]

const selectedPropertiesPlayers = computed(function () {
  return playerStore.getPlayers.map(selectProperties)
})

function selectProperties(show: Player) {
  const {id, first_name, last_name, tricot_number} = show
  return {id, first_name, last_name, tricot_number}
}

const filter = ref<string>('')

const {newPlayer} = storeToRefs(playerStore)
const add_dialog = ref(false)

const addPlayerModel = ref({})

function openAddDialog() {
  addPlayerModel.value = Object.assign({}, newPlayer.value)
  add_dialog.value = true
}

function addPlayer(player: Ref<Player>) {
  playerStore.addPlayer(player.value)
  add_dialog.value = false
  playerStore.requestPlayers()
}

onMounted(() => {
  playerStore.requestPlayers();
})


</script>

<style lang="sass" scoped>
.player-card
  width: 100%
  max-width: 200px
  padding: 10px

</style>
