<!--Page to display information about a single Player-->
<template>
  <div v-if="player!==undefined">

    <!--Header-->
    <q-header elevated class="bg-black text-white">
      <q-toolbar>
        <q-breadcrumbs active-color="accent">
          <q-breadcrumbs-el to="/">
            <span class="text-weight-light"> ODD-T</span>
          </q-breadcrumbs-el>
          <q-breadcrumbs-el label="Players" icon="person" to="/player"/>
          <q-breadcrumbs-el class="text-accent">
            {{ player.first_name + ' ' + player.last_name }}
          </q-breadcrumbs-el>
        </q-breadcrumbs>
        <q-space/>
        <q-btn align="right" flat dense icon="edit" @click="openEditDialog()"/>
        <q-btn align="right" flat dense icon="delete" @click="delete_dialog = true"/>
      </q-toolbar>
    </q-header>

    <!--Dialogs-->
    <q-dialog v-model="edit_dialog" persistent>
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">Edit Player</div>
          <q-space/>
          <q-btn icon="close" flat round dense v-close-popup/>
        </q-card-section>
        <q-card-section>
          <edit_player_details :key="player.id" :player="editPlayerModel"
                               @savePlayer="editPlayer"></edit_player_details>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="add_dialog">
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">Add Rating</div>
          <q-space/>
          <q-btn icon="close" flat round dense v-close-popup/>
        </q-card-section>
        <q-card-section>
          <add_ratings @saveRating="saveRating"></add_ratings>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="delete_dialog" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <span class="q-ml-sm">Do you really want to delete Player {{ player.first_name }} {{
              player.last_name
            }}?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup/>
          <q-btn flat label="Delete" color="primary" @click="deletePlayer"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="delete_dialog_rating" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <span class="q-ml-sm">Do you really want to delete this rating?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup/>
          <q-btn flat label="Delete" color="primary" @click="deleteRating"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!--Page-->
    <q-page padding class="bg-white items-start">
      <div class="row items-center">
        <div class="col-auto text-left" style="padding-right: 10px">
          <q-avatar square color="accent" text-color="white" size="150px" icon="person"></q-avatar>
        </div>
        <div class="column">
          <div class="row items-center">
            <q-chip size="m" color="accent" square>{{ player.tricot_number }}</q-chip>
            {{ player.first_name }} {{ player.last_name }}
            <q-icon v-if="player.sex ==='male'" name="male"></q-icon>
            <q-icon v-if="player.sex ==='female'" name="female"></q-icon>
          </div>
          <div class="row items-center">
            <q-icon name="calendar_month"></q-icon>
            {{ player.date_of_birth }}
          </div>
          <div class="row items-center">
            <div class="col">
              <q-icon name="height"></q-icon>
              {{ player.height }} cm
            </div>
            <div class="col">
              <q-icon name="monitor_weight"></q-icon>
              {{ (player.weight / 1000).toFixed(1) }} kg
            </div>
          </div>
        </div>
        <q-space/>
        <div class="row justify-center">
          <div class="col-auto">
            <div class="row justify-center">
              <q-select v-model="selectedAttributePreset" dense outlined style="width: 10vw; padding-bottom: 30px"
                        :options="attributePresets.map(preset=>preset.name)" label="Attribute Preset">
                <template v-slot:prepend>
                  <q-icon name="grid_on"/>
                </template>
              </q-select>
            </div>
            <field_matrix :fieldMatrix="fieldScores" height="35" :number="true" :value_range="7"></field_matrix>
            <div class="text-subtitle2 text-center">
              Field Score
            </div>
          </div>
          <div class="col-auto" style="padding-right: 11.5vw">
            <div class="row justify-center">
              <q-select v-model="selectedPositionPreset" dense outlined style="width: 10vw"
                        :options="positionPresets.map(preset=>preset.name)" label="Position Preset">
                <template v-slot:prepend>
                  <q-icon name="grid_on"/>
                </template>
              </q-select>
            </div>
            <q-carousel
              v-model="carousel"
              swipeable
              control-color="accent"
              arrows
              class="rounded-borders"
              infinite
            >
              <q-carousel-slide :name="position" v-for="(position,index) in positions" :key="index"
                                class="column no-wrap flex-center">


                <div class="row justify-center" style="padding: 2px">
                  <field_matrix :field-matrix="positionScores[position]"
                                height="35" :number="true" :value_range="7"></field_matrix>
                </div>
                <div class="text-subtitle2 text-center">
                  {{ position.replace('_', ' ') }}
                </div>
              </q-carousel-slide>
            </q-carousel>
          </div>
        </div>
      </div>
      <q-page-sticky position="bottom-right" :offset="[18, 18]">
        <q-btn fab icon="add" @click="add_dialog=true" size="15px" color="accent"></q-btn>
      </q-page-sticky>
      <div class="q-pa-md row items-start q-gutter-md">
        <q-card :style="rating_class === 'Mental' ? 'width: 81vw' : 'width: 40vw'"
                v-for="(value,rating_class,index) in rating_classes" :key="'c'+index">
          <q-card-section>
            <div class="row justify-between items-center">
              <div class="text-h6 text-left">
                {{ rating_class }}
              </div>
              <q-icon size="sm" name="equalizer"
                      @click="show_ratings_table[index] = !show_ratings_table[index]"></q-icon>
            </div>
          </q-card-section>
          <q-separator></q-separator>
          <q-table dense hide-pagination v-if="show_ratings_table[index]"
                   :rows="ratings.map(r => Object.fromEntries(Object.entries(r).filter(name => value.includes(name[0]) || name[0] === 'id')))">
            <template v-slot:header="props">
              <q-tr :props="props">
                <q-th
                  v-for="col in props.cols"
                  :key="col.name"
                  :props="props"
                >
                  {{ col.label.replace('_', ' ').toLowerCase() }}
                </q-th>
                <q-th/>
              </q-tr>
            </template>
            <template v-slot:body="props">
              <q-tr :props="props"
                    class="custom_row cursor-pointer q-hoverable">
                <q-td>
                  {{ props.row['id'] }}
                </q-td>
                <q-td v-for="v in value" :key="v" :props="props">
                  {{ props.row[v] }}
                </q-td>
                <q-td>
                  <q-btn size="sm" icon="clear" flat round
                         @click="$event.stopPropagation(); rating_id_delete = props.row['id']; delete_dialog_rating = true"></q-btn>
                </q-td>
              </q-tr>
            </template>
          </q-table>
          <div class="q-pa-md row items-start justify-center q-gutter-sm text-center">
            <div class="player-rating" v-for="(rating,index) in value" :key="'r'+index">
              <div class="row justify-center">
                <q-knob
                  style="padding-bottom: 5px"
                  :model-value="getRating(rating)"
                  :min="0"
                  :max="7" label-always
                  readonly
                  show-value
                  color="accent"
                  track-color="orange-1"
                  :thickness="0.20"
                >
                  {{ isNaN(getRating(rating)) ? '-' : getRating(rating) }}
                </q-knob>
              </div>
              <div class="row justify-center">
                {{ rating.replace('_', ' ') }}
              </div>
            </div>
          </div>
        </q-card>
      </div>
    </q-page>
  </div>
  <div v-else>
    Loading
  </div>
</template>


<script lang="ts" setup>
import {useRoute, useRouter} from 'vue-router';
import {usePlayerStore} from 'stores/PlayerStore';
import {computed, onBeforeUnmount, onMounted, Ref, ref, watch} from 'vue';
import {Player, Rating, rating_classes, positions} from 'stores/interfaces';
import {useRatingStore} from 'stores/RatingStore';
import Field_matrix from 'components/field_matrix_visualize.vue';
import Edit_player_details from 'components/edit_player_details.vue';
import Add_ratings from 'components/add_ratings.vue';
import {usePresetStore} from 'stores/PresetStore';


const route = useRoute();
const router = useRouter();

const id: number = +route.params.id;

const carousel = ref(positions[0])

const playerStore = usePlayerStore();
const ratingStore = useRatingStore()
const presetStore = usePresetStore()


const player: Ref<Player> = computed(() => {
  return playerStore.getPlayer(id)
})

const fieldScores = computed(() => {
  return playerStore.getFieldScore
})

const attributePresets = computed(() => {
  return presetStore.getAttributePresets
})

const selectedAttributePreset = ref('')

watch(selectedAttributePreset, () => {
  playerStore.requestPlayerFieldScore(id, selectedAttributePreset.value)
  calculatePositionScores()
})

const positionPresets = computed(() => {
  return presetStore.getPositionPresets
})
const selectedPositionPreset = ref('')

watch(selectedPositionPreset, () => {
  calculatePositionScores()
})

function calculatePositionScores() {
  if (selectedAttributePreset.value && selectedPositionPreset.value) {
    playerStore.requestPlayerPositionScores(id, selectedAttributePreset.value, selectedPositionPreset.value)
  }
}

const positionScores = computed(() => {
  return playerStore.getPositionScores
})

const ratings: Ref<Rating[]> = computed(() => {
  return ratingStore.getRating(id)
})

/**
 * @param {string} rating_name
 * returns mean of all ratings of rating_name
 */
function getRating(rating_name: string) {
  let r = 0
  let divider = 0
  for (let i = 0; i < ratings.value.length; i++) {
    let rating = ratings.value[i][rating_name as keyof Rating]
    divider += (rating == undefined) ? 0 : 1
    rating = (rating == undefined) ? 0 : rating
    r += rating
  }
  // TODO
  return +(r / divider).toFixed(1)
}

function saveRating(rating: Ref<Rating>) {
  rating.value.player_id = id
  ratingStore.addRating(rating.value)
  add_dialog.value = false
  if (selectedAttributePreset.value) {
    playerStore.requestPlayerFieldScore(id, selectedAttributePreset.value)
  }

}

const show_ratings_table = ref([false, false, false])

const add_dialog = ref(false)
const edit_dialog = ref(false)
const delete_dialog = ref(false)
const delete_dialog_rating = ref(false)

const rating_id_delete = ref(-1)

const editPlayerModel = ref({})

function openEditDialog() {
  editPlayerModel.value = Object.assign({}, player.value)
  edit_dialog.value = true
}

function editPlayer(player: Ref<Player>) {
  playerStore.editPlayer(player.value)
  edit_dialog.value = false
}

function deletePlayer() {
  playerStore.deletePlayer(player.value.id as number)
  router.push('/player')
}

function deleteRating() {
  if (rating_id_delete.value != -1) {
    ratingStore.deleteRating(rating_id_delete.value)
    rating_id_delete.value = -1
  }
  delete_dialog_rating.value = false
}

onMounted(() => {
  playerStore.requestPlayer(id)
  ratingStore.requestRatingsById(id)
  presetStore.requestAttributePresets()
  presetStore.requestPositionPresets()
})

onBeforeUnmount(() => {
  playerStore.cleanFieldScore()
  playerStore.cleanPositionScore()
})
</script>

<style scoped lang="sass">
.player-rating
  width: 90px
  height: 100px
</style>
