<template>
  <q-layout view="hHh lpR lFf" class="shadow-2 rounded-borders">
    <q-header elevated
              :width="200"
              :breakpoint="500"
              bordered
              class="bg-black text-white">
      <q-toolbar inset>
        <q-toolbar-title>ODD-T</q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-drawer v-model="drawer"
              show-if-above
              :mini="miniState"
              @mouseover="miniState = false"
              @mouseout="miniState = true"
              content-class="column justify-between no-wrap"
              :width="200"
              :breakpoint="500"
              class="bg-black text-white">
      <q-list bordered>
        <q-item to="/start11" exact active-class=text-accent>
          <q-item-section avatar :active="$route.fullPath.startsWith('/start11')">
            <q-icon name="slideshow"/>
          </q-item-section>
          <q-item-section>
            Start 11
          </q-item-section>
        </q-item>
        <q-item to="/player" exact active-class=text-accent :active="$route.fullPath.startsWith('/player')">
          <q-item-section avatar>
            <q-icon name="groups"/>
          </q-item-section>
          <q-item-section>
            Players
          </q-item-section>
        </q-item>
        <q-item to="/matrices" exact active-class=text-accent :active="$route.fullPath.startsWith('/matrices')">
          <q-item-section avatar>
            <q-icon name="grid_on"/>
          </q-item-section>
          <q-item-section>
            Matrices
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>


    <q-page-container class="absolute-full">
      <div class="fit scroll bg-secondary">
        <router-view/>
      </div>
    </q-page-container>
  </q-layout>
</template>

<script setup lang="ts">
import {ref} from 'vue';

const drawer = ref(true)
const miniState = ref(true)

</script>
