<!--Page to display all Attribute Presets-->
<template>
<!--Header-->
  <q-header elevated
            bordered
            class="bg-black text-white">
    <q-toolbar>
      <q-breadcrumbs active-color="accent">
        <q-breadcrumbs-el to="/">
          <span class="text-weight-light"> ODD-T</span>
        </q-breadcrumbs-el>
        <q-breadcrumbs-el label="Matrices" icon="grid_on"  to="/matrices"/>
        <q-breadcrumbs-el class="text-accent" label="Attribute Presets"/>
      </q-breadcrumbs>

    </q-toolbar>
  </q-header>
<!--Dialogs-->
  <q-dialog v-model="delete_dialog" persistent>
    <q-card>
      <q-card-section class="row items-center">
        <span class="q-ml-sm">Do you really want to delete {{ deleteMatrixName }}?</span>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="Abort" color="primary" v-close-popup/>
        <q-btn flat label="Delete" color="primary" @click="deleteMatrix(deleteMatrixName)"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
  <q-dialog v-model="add_dialog" persistent full-width>
    <q-card>
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Add Attribute Preset</div>
        <q-space/>
        <q-btn icon="close" flat round dense v-close-popup/>
      </q-card-section>
      <q-card-section>
        <q-form>
          <q-input v-model="newPreset.name" :error="validateAddName()" error-message="Name not unique"
                   label="Name"></q-input>
          <edit_attribute_weight_matrices :matrices="newPreset.matrices"
                                          @savePreset="addPreset"></edit_attribute_weight_matrices>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
  <q-dialog v-model="edit_dialog" persistent full-width>
    <q-card>
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Edit Attribute Preset</div>
        <q-space/>
        <q-btn icon="close" @click="editPreset.matrices=[]; editPreset.name=''" flat round dense v-close-popup/>
      </q-card-section>
      <q-card-section v-if="editPreset.matrices.length!==0">
        <q-input v-model="editPreset.name" label="Name"></q-input>
        <edit_attribute_weight_matrices :matrices="editPreset.matrices"
                                        @savePreset="editP"></edit_attribute_weight_matrices>
      </q-card-section>
    </q-card>
  </q-dialog>
<!--Page-->
  <q-page>
    <div class="q-pa-md">
      <q-table
        :rows="presets"
        :columns="columns"
        row-key="name"
        :filter="filter"

      >
        <template v-slot:top-left>
          <q-btn @click="add_dialog=true" icon="add" color="accent">Add Preset</q-btn>
        </template>
        <template v-slot:top-right>
          <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
            <template v-slot:append>
              <q-icon name="search"/>
            </template>
          </q-input>
        </template>
        <template v-slot:body="props">
          <q-tr :props="props" :class="props.expand ? 'bg-accent' : ''" @click="props.expand = !props.expand"
                class="custom_row cursor-pointer q-hoverable">
            <q-td key="name" :props="props">{{ props.row.name }}</q-td>
            <q-td key="actions" :props="props">
              <q-btn icon="mode_edit" :disable="props.row.name === 'Default'" fab-mini flat
                     @click="edit_dialog = true; presetStore.requestAttributePresetByName(props.row.name,false);$event.stopPropagation()"></q-btn>
              <q-btn icon="delete" :disable="props.row.name === 'Default'" fab-mini flat
                     @click="delete_dialog = true; deleteMatrixName=props.row.name;$event.stopPropagation()"></q-btn>
            </q-td>
          </q-tr>
          <q-tr v-show="props.expand" :props="props">
            <q-td colspan="100%">
              <q-carousel
                v-model="carousel"
                swipeable
                animated
                control-color="accent"
                navigation
                padding
                arrows
                height="510px"
                class="rounded-borders"
              >
                <q-carousel-slide :name="rating_class" v-for="(value,rating_class,index) in rating_classes" :key="index"
                                  class="column no-wrap flex-center">

                  <div class="text-h6 text-center">
                    {{ rating_class }}
                  </div>
                  <div class="q-pa-md row items-start justify-center q-gutter-sm text-center">
                    <div v-for="(rating,index) in value" :key="'r'+index">
                      <div class="row justify-center" style="padding: 2px">
                        <field_matrix :field-matrix="props.row.matrices.find(preset=>preset.name === rating)?.array"
                                      height="19" :number="false" :value_range="1"></field_matrix>
                      </div>
                      <div class="row justify-center">
                        {{ rating.replace('_', ' ') }}
                      </div>
                    </div>
                  </div>
                </q-carousel-slide>
              </q-carousel>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </q-page>
</template>

<script lang="ts" setup>
import {computed, getCurrentInstance, onMounted, Ref, ref} from 'vue';
import Field_matrix from 'components/field_matrix_visualize.vue';
import {Preset, rating_classes, WeightMatrix} from 'stores/interfaces';
import {usePresetStore} from 'stores/PresetStore';
import Edit_attribute_weight_matrices from 'components/edit_attribute_weight_matrices.vue';


const presetStore = usePresetStore()

const delete_dialog = ref(false)
const add_dialog = ref(false)
const edit_dialog = ref(false)


const columns = [
  {name: 'name', align: 'left', label: 'Name', field: 'name', sortable: true},
  {name: 'actions', label: 'Action'}
]

function validateAddName(): boolean {
  const name = newPreset.value.name
  return name === '' || presets.value.some(preset => preset.name === name)
}

const filter = ref<string>('')
const carousel = ref('Physical')

const deleteMatrixName = ref('')

function deleteMatrix(name: string) {
  presetStore.deleteAttributePreset(name)
  delete_dialog.value = false
}

function editP(matrices: WeightMatrix[]) {
  editPreset.value.matrices = matrices
  presetStore.editAttributePreset(editPreset.value)
  edit_dialog.value = false
  editPreset.value = {name: '', matrices: []}
  presetStore.requestAttributePresets()
  getCurrentInstance()?.proxy?.$forceUpdate();
}

function addPreset(matrices: WeightMatrix[]) {
  newPreset.value.matrices = matrices
  presetStore.addAttributePreset(newPreset.value)
  add_dialog.value = false
}

const editPreset: Ref<Preset> = computed(() => {
  return presetStore.getEditAttributePreset
})

const newPreset: Ref<Preset> = computed(() => {
  return presetStore.getNewAttributePreset
})

const presets = computed(function () {
  return presetStore.getAttributePresets
})

onMounted(() => {
  presetStore.requestAttributePresets();
})

</script>

<style lang="sass" scoped>
.custom_row:hover
  background-color: #ffd48f

</style>
