<template>
  <q-header elevated
            bordered
            class="bg-black text-white">
    <q-toolbar>
      <q-breadcrumbs active-color="accent">
        <q-breadcrumbs-el to="/">
          <span class="text-weight-light"> ODD-T</span>
        </q-breadcrumbs-el>
        <q-breadcrumbs-el class="text-accent" label="Matrices" icon="grid_on"/>
      </q-breadcrumbs>
    </q-toolbar>
  </q-header>
  <q-page padding>
    <div class="q-pa-md row items-start q-gutter-md">
      <q-card @click="$router.push('/matrices/attributePresets')" class="my-card cursor-pointer q-hoverable">
        <q-card-section class="text-h6 text-center">Attribute Presets</q-card-section>
      </q-card>
      <q-card @click="$router.push('/matrices/positionPresets')" class="my-card cursor-pointer q-hoverable">
        <q-card-section class="text-h6 text-center">Position Presets</q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script setup lang="ts">
</script>

<style scoped lang="sass">
.my-card
  width: 20vh
  height: 20vh
</style>
