<!--Page displayed on Start-->
<template>
  <q-header elevated class="bg-black text-white">
    <q-toolbar>
      <q-breadcrumbs active-color="accent">
        <q-breadcrumbs-el to="/">
          <span class="text-weight-light">ODD-T</span>
          <span class="text-weight-thin">: Finding the optimal Starting-11</span>
        </q-breadcrumbs-el>
      </q-breadcrumbs>
    </q-toolbar>
  </q-header>
  <q-page class="row items-center justify-evenly">
    <div class="q-pa-md row items-start q-gutter-md">
      <q-card @click="$router.push('/start11')" class="my-card cursor-pointer q-hoverable">
        <q-card-section class="text-h6 text-center">
          Start 11
          <p></p>
          <q-icon size="xl" name="slideshow"></q-icon>
        </q-card-section>
      </q-card>
      <q-card @click="$router.push('/player')" class="my-card cursor-pointer q-hoverable">
        <q-card-section class="text-h6 text-center">
          Players
          <p></p>
          <q-icon size="xl" name="groups"></q-icon>
        </q-card-section>
      </q-card>
      <q-card @click="$router.push('/matrices')" class="my-card cursor-pointer q-hoverable">
        <q-card-section class="text-h6 text-center">
          Matrices
          <p></p>
          <q-icon size="xl" name="grid_on"></q-icon>
        </q-card-section>
      </q-card>
    </div>

  </q-page>
</template>

<script setup lang="ts">

</script>

<style scoped lang="sass">
.my-card
  width: 20vh
  height: 20vh
</style>
