<!--Page to calculate best Formation-->
<template>
<!--Header-->
  <q-header elevated class="bg-black text-white">
    <q-toolbar>
      <q-breadcrumbs active-color="accent">
        <q-breadcrumbs-el to="/">
          <span class="text-weight-light"> ODD-T</span>
        </q-breadcrumbs-el>
        <q-breadcrumbs-el class="text-accent" label="Start 11" icon="slideshow"/>
      </q-breadcrumbs>
    </q-toolbar>
  </q-header>
<!--Page-->
  <q-page padding>
    <div class="row">
      <div class="col-1"></div>
      <div
        style="height: 85vh; border-radius: 5px; padding-top: 10px; margin-right: 20px; background-color: rgba(255,255,255,0.48)"
        class="col-2 justify-end">
        <q-list dense separator>
          <q-item header>
            <span class="text-subtitle2">Available Players</span>
          </q-item>
          <q-scroll-area style="height: 79vh; max-width: 300px;">
            <q-item clickable
                    v-for="(player, i) in getSortedPlayers(players)"
                    :key="player.id" @mouseover="hover[i]=true" @mouseleave="hover[i]=false"
                    @click="playerActive[i]=!playerActive[i]; goalKeeper?.id===player.id?resetGoalKeeper():''">
              <div class="row items-center">
                <div class="col-auto text-left">
                  <q-btn v-if="goalKeeper?.id===player.id" disable icon="sports_soccer" size="10px" round
                         text-color="green" flat></q-btn>
                  <q-btn v-if="goalKeeper?.id!==player.id" icon="sports_soccer" size="10px" round
                         text-color="grey" flat v-show="hover[i]"
                         @click="changeGoalKeeper(player);playerActive[i]=true;$event.stopPropagation()">
                  </q-btn>
                </div>
                <div class="col-auto" style="padding-right: 5px">
                  <q-chip size="md" :color="playerActive[i]?'accent':'grey'" square>{{
                      player.tricot_number < 10 ? '0' : ''
                    }}{{ player.tricot_number }}
                  </q-chip>
                </div>
                <div class="col text-right" :style="playerActive[i]?'':'text-decoration: line-through'">
                <span :style="'font-size: 12pt'">
                  {{ player.first_name }} {{ player.last_name }}
                </span>
                </div>
              </div>
            </q-item>
          </q-scroll-area>
        </q-list>
      </div>
      <div class="col-5">
        <div class="row justify-around items-center">
          <q-select dense outlined style="width: 12vw" v-model="selectedAttributePreset"
                    :options="attributePresets.map(preset => preset.name)"
                    label="Rating Preset">
            <template v-slot:prepend>
              <q-icon name="grid_on" @click.stop/>
            </template>
          </q-select>
          <q-select dense outlined style="width: 10vw" v-model="selectedFormation" label="Formation"
                    :options="['All'].concat(Object.keys(Formations))">
            <template v-slot:prepend>
              <q-icon name="groups" @click.stop/>
            </template>
          </q-select>
          <q-select dense outlined style="width: 12vw" v-model="selectedPositionPreset"
                    :options="positionPresets.map(preset => preset.name)"
                    label="Position Preset">
            <template v-slot:prepend>
              <q-icon name="grid_on" @click.stop/>
            </template>
          </q-select>
          <div>
            <q-btn
              :disable="selectedAttributePreset==='' || selectedFormation.length===0 || selectedPositionPreset==='' || goalKeeper.id===null"
              :color="selectedAttributePreset==='' || selectedFormation.length===0 || selectedPositionPreset==='' || goalKeeper.id===null ? 'grey' : 'accent'"
              size="md" dense icon="play_arrow" @click="calculate_scores"/>
            <q-tooltip
              v-if="selectedAttributePreset==='' || selectedFormation == null || selectedPositionPreset==='' || goalKeeper.id===null">
              <p v-if="selectedAttributePreset===''">Choose an <b>Attribute Preset</b></p>
              <p v-if="selectedPositionPreset===''">Choose a <b>Position Preset</b></p>
              <p v-if="selectedFormation.length===0">Choose a <b>Formation</b></p>
              <p v-if="goalKeeper.id===null">Pick a <b>Goalkeeper</b></p>
            </q-tooltip>
          </div>
        </div>
        <p></p>
        <div class="row justify-center">
          <formation_field :formation="chosenFormation?.formation_name"
                           :chosenPlayers="chosenFormation?.chosen_players"
                           :players="players"></formation_field>
        </div>
      </div>
      <div class="col-3">
        <q-table style="margin-left: 20px; height: 85vh; background-color: rgba(255,255,255,0.48)" virtual-scroll
                 title-class="text-subtitle2" :columns="score_columns" row-key="index" :rows-per-page-options="[-1]"
                 title="Calculated Results" flat :rows="selectedPropertiesScore" hide-pagination>

          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width/>
              <q-th
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
              >
                {{ col.label }}
              </q-th>
              <q-th/>
              <q-th/>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props" @click="props.expand = !props.expand">
              <q-td auto-width>
                <q-icon :name="props.expand ? 'expand_more' : 'chevron_right'"
                ></q-icon>
              </q-td>
              <q-td
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
              >
                {{ col.value }}
              </q-td>
              <q-td auto-width class="text-center">
                <q-btn v-if="props.rowIndex === chosenFormationIndex" flat dense disable>Selected</q-btn>
                <q-btn v-else flat dense
                       @click="chosenFormationIndex = props.rowIndex;$event.stopPropagation()">
                  Select
                </q-btn>
              </q-td>
              <q-td auto-width>
                <q-btn round flat icon="clear" size="sm"
                       @click="bestFormations.splice(props.rowIndex,1);props.rowIndex === chosenFormationIndex?chosenFormationIndex=-1:'';$event.stopPropagation()"></q-btn>
              </q-td>
            </q-tr>
            <q-tr class="justify-center" v-show="props.expand" :props="props">
              <q-td/>
              <q-td colspan="2">
                <field_matrix_visualize :height="30" :number="true" :value_range="25"
                                        :field-matrix="props.row.field_score"/>
              </q-td>
              <q-td/>
              <q-td/>
            </q-tr>
          </template>

        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import {computed, onMounted, Ref, ref, watch} from 'vue';
import {usePlayerStore} from 'stores/PlayerStore';
import {Formations, FormationScore, Player} from 'stores/interfaces';
import Formation_field from 'components/formation_field.vue';
import {usePresetStore} from 'stores/PresetStore';
import Field_matrix_visualize from 'components/field_matrix_visualize.vue';

const playerStore = usePlayerStore();
const presetStore = usePresetStore()

const selectedAttributePreset = ref('')
const selectedPositionPreset = ref('')

const players: Ref<Player[]> = computed(() => {
  return playerStore.getPlayers
})

const goalKeeper: Ref<Player> = ref({
  id: null,
  first_name: '',
  last_name: '',
  sex: '',
  weight: null,
  height: null,
  date_of_birth: '',
  tricot_number: null,
  past_positions: ''
})

const hover: Ref<boolean[]> = ref([])

function resetGoalKeeper() {
  goalKeeper.value = {
    id: null,
    first_name: '',
    last_name: '',
    sex: '',
    weight: null,
    height: null,
    date_of_birth: '',
    tricot_number: null,
    past_positions: ''
  }
}

function changeGoalKeeper(player: Player) {
  goalKeeper.value = player
}

watch(players, () => {
  playerActive.value = Array(players.value.length).fill(true)
  hover.value = Array(players.value.length).fill(false)
})

function getSortedPlayers(players: Player[]) {
  return players.sort((a, b) => {
    if (b.tricot_number == null) {
      return 1
    }
    if (a.tricot_number == null || a.tricot_number < b.tricot_number) {
      return -1
    } else {
      return 1
    }
  })
}

// formation selected in q-select
const selectedFormation: Ref<string> = ref('')

const playerActive: Ref<boolean[]> = ref([])

function calculate_scores() {
  const playerIds: number[] = []
  for (const index in playerActive.value) {
    if (playerActive.value[index]) {
      if (players.value[index].id !== goalKeeper.value.id) {
        const playerId = players.value[index].id
        playerIds.push((playerId) ? playerId : -1)
      }
    }
  }
  if (selectedFormation.value === 'All') {
    for (const formation of Object.keys(Formations)) {
      playerStore.getBestFormation(
        playerIds, selectedAttributePreset.value, selectedPositionPreset.value,
        Formations[formation], formation, goalKeeper.value.id
      )
    }
  } else {
    playerStore.getBestFormation(
      playerIds, selectedAttributePreset.value, selectedPositionPreset.value,
      Formations[selectedFormation.value], selectedFormation.value, goalKeeper.value.id
    )
  }
}

const bestFormations = computed(function () {
  return playerStore.getBestFormations
})

// Formation from bestFormations to be visualized
const chosenFormationIndex = ref(-1)
const chosenFormation = computed(() => bestFormations.value[chosenFormationIndex.value])

const attributePresets = computed(function () {
  return presetStore.getAttributePresets
})

const positionPresets = computed(function () {
  return presetStore.getPositionPresets
})

const score_columns = [
  {name: 'formation_name', label: 'Formation Name', align: 'center', field: 'formation_name'},
  {name: 'score', label: 'Score', align: 'center', field: 'score'}
]

const selectedPropertiesScore = computed(function () {
  const scores = playerStore.getBestFormations.map(selectProperties)

  let columns: { 'formation_name': string, 'score': string, 'field_score': number[][], 'index': number }[] = []
  scores.forEach((score, index) => {
    let field_score_sum: number = score.field_score.flat().reduce((a, b) => a + b, 0)
    columns.push({
      'formation_name': score.formation_name,
      'score': (field_score_sum / score.field_score.flat().length).toFixed(1),
      'field_score': score.field_score,
      'index': index
    })
  })

  return columns
})

function selectProperties(show: FormationScore) {
  const {formation_name, field_score} = show
  return {formation_name, field_score}
}

onMounted(() => {
  playerStore.requestPlayers();
  presetStore.requestAttributePresets();
  presetStore.requestPositionPresets();
})

</script>

<style scoped lang="sass">
</style>
